/* From Uiverse.io by alexroumi */
#askButton {
  width: 100%;
  background: linear-gradient(90deg, #1c0033 8%, #6a0dad 62%, #c084fc 100%);
  color: #ffffff;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 300ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0.3rem;
  background-color: #1c0033;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

#askButton:disabled {
  transition: none;
  transform: initial;
  box-shadow: initial;
  cursor: not-allowed;
}
.loading {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.hidden {
  display: none;
}
