.help-button {
  background-color: #555;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
.help-button:hover {
  background-color: #777;
}
.tooltip-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
/* Esconde o tooltip por padrão */
.tooltip-container.hidden {
  display: none;
}
/* Estilo para o conteúdo do tooltip */
.tooltip-content {
  background: #f9f0ff;
  font-weight: 400;
  color: #242325;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 90%;
  position: relative;
  z-index: 1001;
  text-align: left;
  line-height: 1.6;
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 80vh;
}
.tooltip-content h3 {
  color: #4caf50;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.3em;
}
.tooltip-content ol {
  margin-left: 20px;
  padding-left: 0;
}
.tooltip-content li {
  margin-bottom: 8px;
}
.tooltip-content strong {
  color: #b777f3;
}
.tooltip-content strong.tooltip-strong-conteudo {
  color: #3e006b;
}
.tooltip-content .close-button-tooltip {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #6a0dad;
  cursor: pointer;
  transition: color 0.3s ease;
}
.tooltip-content .close-button-tooltip:hover {
  color: #000000;
}
.tooltip-content h3.tooltip-title {
  color: #000000;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.3em;
}
.tooltip-content p.tooltip-paragraph {
  font-size: 1em;
  margin-bottom: 10px;
  color: #000000;
}
.tooltip-content ol.tooltip-list {
  margin-left: 20px;
  padding-left: 0;
}
.tooltip-content li.tooltip-list-item {
  margin-bottom: 8px;
}
.tooltip-content strong.tooltip-strong {
  color: #b777f3;
  font-weight: bold;
}
.tooltip-content a.tooltip-link {
  color: #0079f9;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
.tooltip-content a.tooltip-link:hover {
  text-decoration: underline;
}
.tooltip-content p.tooltip-important {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0b3ff59;
  color: #000000;
}
.help-button {
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  background: none;
  padding: 0;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* Estilo para o botão quando ele é apenas um ícone */
.help-button.icon-only {
  width: 31px;
  height: 30px;
  padding: 3px 2px;
  border-radius: 100%;
  background-color: #7f5e9b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* Estilo para a imagem do ícone dentro do botão */
.help-button .help-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.8;
}
.help-button.icon-only:hover .help-icon {
  opacity: 1;
}
